[Desktop Entry]
Encoding=UTF-8
Name=Clementine
Type=Service
ServiceTypes=Plasma/Applet
Icon=clementine
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Jakh Daven
X-KDE-PluginInfo-Email=tuxcanfly@gmail.com
X-KDE-PluginInfo-Name=clementine
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
